*, *::before, *::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.navBar{
    display: flex;
    flex: 0 1 auto;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 85px;
    height: 100%;
    padding: 0px;
    margin: 0px;
    text-align: center;
    overflow: hidden auto;
    background: #202225;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

li:first-of-type .navBarIcons{
    width: 2.8em;
    height: 2.8em;
}

li:first-of-type{
    margin-bottom: 8px;
}

.navBarItem:last-of-type{
    margin-top: auto;
    margin-bottom: 0px;
    padding: 0px;
}

.navBarItem {
    display: block;
    border-radius: 2rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    transition: all 200ms linear 0s; 
}

.navBarItem:hover{
    background-color: royalblue; 
    border-radius: 1.5rem;
}

.navBarLink{
    display: block;
    border-radius: 1.5rem;
    padding: 0.6rem 0px;
}

.navBarIcons{
    color: rgb(250, 250, 250);
    width: 2.5em;
    height: 2.5em;
}

.navDivider{
    display: block;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    width: 40px;
    height: 4px;
    background-color: gray;
}
