*, *::before, *::after{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.App {
  display: grid;
  grid-template-areas:
  "nav content content"
  "nav content content"
  "nav content content";
  grid-template-columns: 85px 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
}

.nav{
  grid-area: nav;
  display: flex;
}

.page-area{
  grid-area: content;
}

@media screen and (max-width: 300px) {
  .App{
    grid-template-areas: 
    "nav nav nav"
    "content content content"
    "content content content";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 85px 1fr 1fr;
  }
}